- function imgDataAttrs (slug, index) { attrString = 'data-' + slug + '-src=' + images[index].src; return attrString; }

mixin portfolio-gallery__slide(slideNum)
  li(class="portfolio-gallery__slide")
    div(class="portfolio-gallery__slide-inner")
      block

mixin portfolio-gallery__device(deviceNum)
  - var index = parseInt(deviceNum, 10)

  figure(class="portfolio-gallery__device portfolio-gallery__device--" + deviceNum)
    div(class="portfolio-gallery__device-overlay portfolio-gallery__device-overlay--" + deviceNum role="presentation")
      block
    div(class="portfolio-gallery__device-screen portfolio-gallery__device-screen--" + deviceNum)
      +portfolio-gallery__device-content(deviceNum, index)
  
mixin portfolio-gallery__device-content(deviceNum, index)
  - var dataAttrs = {}
  - dataAttrs['data-current-portfolio-item'] = 0

  //- each portfolioItem in portfolioItems
  - var portfolioItem = portfolioItems[1] //- Select Raven right now, eventually will be a loop with all portfolio items
  - dataAttrs['data-' + portfolioItem.slug + 'Title'] = images.portfolioGallery[7].title
  - dataAttrs['data-' + portfolioItem.slug + 'Alt'] = images.portfolioGallery[7].alt
  - dataAttrs['data-' + portfolioItem.slug + 'Src'] = images.portfolioGallery[7].src
  - dataAttrs['data-' + portfolioItem.slug + 'Srcset'] = images.portfolioGallery[7].srcset

  img(class="portfolio-gallery__device-content portfolio-gallery__device-content--" + deviceNum
        title=images.portfolioGallery[index].title
        alt=images.portfolioGallery[index].alt
        src=images.portfolioGallery[index].src
        srcset=images.portfolioGallery[index].srcset
      )&attributes(dataAttrs)


section(class="portfolio" aria-labelledby="#portfolio__heading")
  h3(id="portfolio__heading" class="portfolio__heading visually-hidden") Portfolio
  
  div(class="portfolio-gallery")
    ul(class="portfolio-gallery__slides")
      +portfolio-gallery__slide()
        include ../images/svg/optimized/panel-0.svg
        +portfolio-gallery__device("00")
          include ../images/svg/optimized/device-00.svg
        +portfolio-gallery__device("01")
          include ../images/svg/optimized/device-01.svg
      +portfolio-gallery__slide()
        include ../images/svg/optimized/panel-1.svg
        +portfolio-gallery__device("02")
          include ../images/svg/optimized/device-02.svg
        +portfolio-gallery__device("03")
          include ../images/svg/optimized/device-03.svg
        +portfolio-gallery__device("04")
          include ../images/svg/optimized/device-04.svg
      +portfolio-gallery__slide()
        include ../images/svg/optimized/panel-2.svg
        +portfolio-gallery__device("05")
          include ../images/svg/optimized/device-05.svg
        +portfolio-gallery__device("06")
          include ../images/svg/optimized/device-06.svg

  div(class="portfolio-info")
    //- div(class="portfolio-info__track" data-glide-el="track")
    ul(class="portfolio-info__slides")
      each portfolioItem, index in portfolioItems
        li(class="portfolio-info__slide portfolio-info__slide--" + index)
          //- div(class="portfolio-info__slide-inner")
          header(class="portfolio-info__header")
            h4(class="portfolio-info__title") !{portfolioItem.title}
            a(class="portfolio-info__link" href="http://" + portfolioItem.url title=portfolioItem.title alt=portfolioItem.alt) !{portfolioItem.url}

          div(class="portfolio-info__text-wrap")
            p(class="portfolio-info__text") !{portfolioItem.desc}
            
            h5(class="portfolio-info__heading") Scope
            ul(class="portfolio-info__list")
              each listing in portfolioItem.scope
                li= listing

          div(class="portfolio-info__bottom-fill" role="presentation")


              //- button(class="portfolio-info__next")
              //-   include ../images/svg/optimized/right-arrow.svg
                

