mixin glide__slide(slideNum)
  li(class="glide__slide")
    div(class="glide__slide-inner")
      block

mixin device(deviceNum)
  - var index = parseInt(deviceNum, 10)
  figure(class="device device--" + deviceNum)
    div(class="device__border device__border--" + deviceNum role="presentation")
      block
    div(class="device__screen device__screen--" + deviceNum)
      img(class="device__content device__content--" + deviceNum title=images[index].title alt=images[index].alt src=images[index].src srcset=images[index].srcset)

section(class="portfolio" aria-labelledby="#portfolio__heading")
  div(class="portfolio-gallery")
    h3(id="portfolio__heading" class="portfolio__heading visually-hidden") Portfolio
    div(class="glide")
      div(class="glide__track" data-glide-el="track")
        ul(class="glide__slides")
          +glide__slide()
            include ../images/svg/optimized/panel-0.svg
            +device("00")
              include ../images/svg/optimized/device-00.svg
            +device("01")
              include ../images/svg/optimized/device-01.svg
          +glide__slide()
            include ../images/svg/optimized/panel-1.svg
            +device("02")
              include ../images/svg/optimized/device-02.svg
            +device("03")
              include ../images/svg/optimized/device-03.svg
            +device("04")
              include ../images/svg/optimized/device-04.svg
          +glide__slide()
            include ../images/svg/optimized/panel-2.svg
            +device("05")
              include ../images/svg/optimized/device-05.svg
            +device("06")
              include ../images/svg/optimized/device-06.svg

  div(class="portfolio-info")
    div(class="portfolio-info__track" data-glide-el="track")
      ul(class="portfolio-info__slides")
        each portfolioItem, index in portfolioItems
          li(class="portfolio-info__slide portfolio-info__slide--" + index)
            header(class="portfolio-info__header")
              h4(class="portfolio-info__title") !{portfolioItem.title}
              a(class="portfolio-info__link" href="http://" + portfolioItem.url title=portfolioItem.title alt=portfolioItem.alt) !{portfolioItem.url}

            div(class="portfolio-info__text-wrap")
              p(class="portfolio-info__text") !{portfolioItem.desc}
              
              h5(class="portfolio-info__heading") Scope
              ul(class="portfolio-info__list")
                each listing in portfolioItem.scope
                  li= listing
              
              //- button(class="portfolio-info__next")
              //-   include ../images/svg/optimized/right-arrow.svg
                

