//- Declarations
- function intToTwoDigitString(int) { return ('0' + int).slice(-2); }

mixin portfolio-gallery__slide(slideNum)
  li(class='portfolio-gallery__slide portfolio-gallery__slide--' + slideNum)
    div(class='portfolio-gallery__slide-inner')
      block

mixin portfolio-gallery__device(portfolioItemIndex, deviceIndex)
  - var deviceStr = intToTwoDigitString(deviceIndex)

  figure(class='portfolio-gallery__device portfolio-gallery__device--' + deviceStr)
    block
    div(class='portfolio-gallery__device-screen portfolio-gallery__device-screen--' + deviceStr tabindex='0')
      +portfolio-gallery__device-content(portfolioItemIndex, deviceIndex)
  
mixin portfolio-gallery__device-content(portfolioItemIndex, deviceIndex)
  - var portfolioGalleryIndex = (portfolioItemIndex * 7) + deviceIndex
  if images.portfolioGallery[portfolioGalleryIndex]
    img(class='portfolio-gallery__device-content'
          title=images.portfolioGallery[portfolioGalleryIndex].title
          alt=images.portfolioGallery[portfolioGalleryIndex].alt
          src=images.portfolioGallery[portfolioGalleryIndex].src
          srcset=images.portfolioGallery[portfolioGalleryIndex].srcset
          width='72'
        )

//- Portfolio Content
article(class='portfolio' id='portfolio' aria-labelledby='#portfolio__heading')
  h3(id='portfolio__heading' class='portfolio__heading visually-hidden') Portfolio
  each portfolioItem, portfolioItemIndex in portfolioItems
    article(class='portfolio-item' id=portfolioItem.slug)
      section(class='portfolio-gallery' tabindex='0')
        ul(class='portfolio-gallery__slides')
          +portfolio-gallery__slide('00')
            //- include ../images/svg/optimized/panel-0.svg
            svg(class='portfolio-gallery__slide-aspect' viewBox='0 0 290 179' role='presentation')
            +portfolio-gallery__device(portfolioItemIndex, 0)
              include ../images/svg/optimized/device-00.svg
            +portfolio-gallery__device(portfolioItemIndex, 1)
              include ../images/svg/optimized/device-01.svg
          +portfolio-gallery__slide('01')
            +portfolio-gallery__device(portfolioItemIndex, 2)
              include ../images/svg/optimized/device-02.svg
          +portfolio-gallery__slide('02')
            +portfolio-gallery__device(portfolioItemIndex, 3)
              include ../images/svg/optimized/device-03.svg
          +portfolio-gallery__slide('03')
            +portfolio-gallery__device(portfolioItemIndex, 4)
              include ../images/svg/optimized/device-04.svg
          +portfolio-gallery__slide('04')
            +portfolio-gallery__device(portfolioItemIndex, 5)
              include ../images/svg/optimized/device-05.svg
          +portfolio-gallery__slide('05')
            +portfolio-gallery__device(portfolioItemIndex, 6)
              include ../images/svg/optimized/device-06.svg      
      
      section(class='portfolio-info')
        header(class='portfolio-info__header')
          h4(class='portfolio-info__title') !{portfolioItem.title}
          a(class='portfolio-info__link' href='http://' + portfolioItem.url title=portfolioItem.title alt=portfolioItem.alt) !{portfolioItem.url}

        div(class='portfolio-info__text-wrap')
          p(class='portfolio-info__text') !{portfolioItem.desc}
          
          h5(class='portfolio-info__heading') Scope
          ul(class='portfolio-info__list')
            each listing in portfolioItem.scope
              li= listing
        div(class='portfolio-info__bottom-decoration' role='presentation')
          div(class='portfolio-info__bottom-decoration-inner')

        //- button(class='portfolio-info__next')
        //-   include ../images/svg/optimized/right-arrow.svg


